---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<h1 class='page-header'>A quick intro</h1>
		<p>After graduating from Central St Martins I worked for designers such as <a href='https://aitorthroup.com/'>Aitor
				Throup</a> and <a href='https://www.janjanvanessche.com/'>Jan-Jan van Essche</a>, and then became a lecturer at
			the <a href='https://www.ufg.at/'>University of Art and Design in Linz</a>.</p>
		<p>During the Coronavirus pandemic I rediscovered my childhood interest
			in programming, and started teaching myself Full Stack development.</p>
		<p>I currently work for <a href='https://www.kompany.at'>kompany</a>, a subsidiary of <a
				href='https://www.moodys.com/'>Moody's</a>.</p>
		<p>Outside of work, I am passionate about creating tools, teaching, language learning, and clothesmaking.</p>
	</main>
</Layout>

<style>
</style>