---
export interface Props {
  title: string;
  publishedDate: Date;
  tags: string[];
  url: string;
}
const { title, publishedDate, tags, url } = Astro.props as Props;
---

<div>
  <h3><a href={url}>{title}</a></h3>
  <span>{publishedDate}</span>
  <div>
    {tags.map(tag => <span class='tag'>{tag}</span>)}
  </div>
</div>
<style>
  .tag {
    color: green;
  }
</style>