---
import { getFullDate } from '../util/date';
import TagList from './TagList.astro';

export interface Props {
  title: string;
  publishedDate: string;
  tags: string[];
  url: string;
}
const { title, publishedDate, tags, url } = Astro.props as Props;

const formattedDate = getFullDate(publishedDate);
---

<div>
  <h3 class='blog-list-title'><a href={url}>{title}</a></h3>
  <TagList tags={tags} />
  <span class='blog-list-date'>{formattedDate}</span>
</div>
<style>
  .blog-list-title {
    margin-top: 0;
    margin-bottom: 4px;
  }

  .blog-list-date {
    margin-top: -4px;
    margin-bottom: 4px;
    font-size: 16px;
  }
</style>
